<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/MVP/0.1/Laravel/tests" />
        <option value="$PROJECT_DIR$/antiEntropy/web/core/tests/PHPStan/tests" />
        <option value="$PROJECT_DIR$/MVP/0.1/Drupal/core/tests/PHPStan/tests" />
      </list>
    </option>
  </component>
</project>